*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:  rgb(12, 50, 90)  ;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1024px;
    margin: auto;
}
nav{
    height: 90px;
}
.logo{
    vertical-align: middle;
}
nav ul{
    display: inline-block;
    line-height: 90px;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
.login{
    float: right;
}

nav a,
h1+a
{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.btn{
    padding: 8px 20px;
    font-size: 10px;
}

.btn.one{
    background-color:  rgb(12, 50, 90)  ;
    border: 1px solid white;
    border-radius: 5px;
}
.btn.two{
    background-color:  rgb(124 , 187, 2)  ;
    border-radius: 5px;
}
.hero{
    height: 700px;
    background-color: rgb(12, 50, 90);
    position: relative;
}
.hero img{
    width: 60%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.titlehero{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

h1{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

.btn.hero{
    background-color:  rgb(124 , 187, 2)  ;
    border-radius: 5px;
    font-size: 10px;
    padding: 15px 40px;
}

.middlebar{
    background-color: rgb(211, 211, 211);
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}
 .middlebar p {
     margin-top: 10px;
     color: rgb(130, 130, 130);
 }

 .column{
     float: left;
     width: 30%;
 }

 .due{
     margin-left: 5%;
     margin-right: 5%;
 }

 .column > .row{
     height: 200px;
     position: relative;
 }

 .row img{
     height: 80%;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

 .column h3{
     text-align: center;
     color: rgb(145, 197, 45);
     font-size: 20px;
     margin-bottom: 20px;
 }

 .column hr{
     width: 20%;
     margin: auto;
     margin-bottom: 20px;
 }

 .column p{
    color: rgb(130, 130, 130);
    text-align: center;
 }

 hr{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .colonna{
     float: left;
     width: 40%;
     position: relative;
 }

 .colonna p{
    color: rgb(130, 130, 130);
 }

 .montain{
     margin-right: 20%;
 }

 .colonna >  h3{
     font-size: 30px;
 }
.colonna > p{
    padding: 20px 0 ;
}

footer{
    background-color: rgb(211, 211, 211);
    height: 90px;
    position: relative;
    padding: 60px;
}

}
label{
    color: rgb(130, 130, 130);
}
select{
    background-color: transparent;
    color: rgb(130, 130, 130);
    border-color: transparent;
    border-bottom: 1px solid black;
}
.genere{
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.genere > a{
    text-decoration: none;
    color: white;
}

.piede{
    position: relative;
}


.help{
    position: fixed;
    bottom: 0;
    right: 0;
}